.button {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 42px;
  height: 42px;

  border: none;
  border-radius: 9999px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255,255,255,.85);
  backdrop-filter: blur(10px);

  box-shadow: 0 8px 20px rgba(0,0,0,.15);

  cursor: pointer;

  transition: all .25s ease;

  z-index: 20;
}

.button:hover {
  transform: scale(1.1);
  background: white;
}

.heart {
  color: #64748b;
  transition: all .25s ease;
}

.active {
  color: #ef4444;
}